<% if signed_in? %>

  <div class="row">
    <article class="col-md-12">
      <section class="add_post" id="add_post">
        <h3>Post Add</h3>
        <%= render 'users/user_info' %>
        <%= render 'shared/post_form' %>
        <hr>
      </section>
    </article>
  </div>
  
<% else %>

  <h4>
    Для добавления и комментирования сообщений выполните вход
  </h4>
  <%= render 'users/login_buttons' %>

<% end %>

<div class="col-md-12">
  <h3>Post Feed</h3>
  <div id="posts">
    <div class="posts">
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>