<% if signed_in? %>
  <div class="row">
    <article class="col-md-12">
      <section class="add_post" id="add_post">
        <h3>Post Add</h3>
        <%= render 'users/user_info' %>
        <hr>
      </section>
    </article>
  </div>
  
<% else %>

  <%= render 'users/login_buttons' %>

<% end %>
<div class="col-md-12">
  <h3>Post Feed</h3>
  <div id="posts">

  </div>
</div>