  <div class="center hero-unit">
    <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in with Vkontakte", "/auth/vkontakte", class: "btn btn-large btn-primary" %>
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </div>
  <hr>