<% if object.errors.any? %>
  <div class="noticesWrapper">
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <a class="close" data-dismiss="alert"><i class="icon-remove"></i></a>
      <%= msg %>
    </div></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>
